In [1]:
!pip install mysql-connector-python

import mysql.connector as connector
from src.settings import settings

Requirement already satisfied: mysql-connector-python in ./venv/lib/python3.10/site-packages (8.4.0)

## Task 1

Connector to database and create a cursor object

In [2]:
connection = connector.connect(
    user=settings.db_user,
    password=settings.db_password,
    db=settings.db_name,
)
cursor = connection.cursor()

## Task 2

Query the datbase and show all tables

In [6]:
show_tables_query = """SHOW TABLES;"""
cursor.execute(show_tables_query)
results = cursor.fetchall()

print(results)

[('Bookings',), ('Customers',), ('DeliveryStatus',), ('Menu',), ('Orders',), ('OrdersView',), ('Staff',), ('Task2',), ('Task3',)]

## Task 3

Query table with a join, getting the full name and contact details of every customer that has placed an order greater than $60 for a promotional campaign.

In [7]:
query = """
SELECT
    c.FullName
    , c.PhoneNumber
    , c.Email
    , o.Price
    , o.Date
FROM Customers AS c
JOIN Orders AS o ON c.ID = o.CustomerID
WHERE o.Price > 60;
"""
cursor.execute(query)
results = cursor.fetchall()

for x in results:
    print(x)

('Zeus', '123123123', 'zeus@olympus.com', Decimal('1000.00'), datetime.date(2024, 5, 16))
('Hades', '789789789', 'hades@hades.com', Decimal('150.00'), datetime.date(2024, 5, 16))