In [1]:
!pip install mysql-connector-python

import mysql.connector as connector
from src.settings import settings

Requirement already satisfied: mysql-connector-python in ./venv/lib/python3.10/site-packages (8.4.0)

## Task 1

Connector to database and create a cursor object

In [2]:
connection = connector.connect(
    user=settings.db_user,
    password=settings.db_password,
    db=settings.db_name,
)
cursor = connection.cursor()

## Task 2

Query the datbase and show all tables

In [3]:
show_tables_query = """SHOW TABLES;"""
cursor.execute(show_tables_query)
results = cursor.fetchall()

print(results)

[('Bookings',), ('Customers',), ('DeliveryStatus',), ('Menu',), ('Orders',), ('OrdersView',), ('Staff',), ('Task2',), ('Task3',)]

## Task 3

Query table with a join, getting the full name and contact details of every customer that has placed an order greater than $60 for a promotional campaign.

In [4]:
query = """
SELECT
    c.FullName
    , c.PhoneNumber
    , c.Email
    , o.Price
    , o.Date
FROM Customers AS c
JOIN Orders AS o ON c.ID = o.CustomerID
WHERE o.Price > 60;
"""
cursor.execute(query)
results = cursor.fetchall()

for x in results:
    print(x)

('Zeus', '123123123', 'zeus@olympus.com', Decimal('1000.00'), datetime.date(2024, 5, 16))
('Hades', '789789789', 'hades@hades.com', Decimal('150.00'), datetime.date(2024, 5, 16))

## Rubric Tests

Runs the procedures in the rubric to make sure they work properly.

#### GetMaxQuantity

In [5]:

cursor.callproc("GetMaxQuantity")
results = cursor.stored_results()

for x in results:
    print(x.fetchall())

[(100,)]

#### ManageBooking

Well, there were no directions about creating a ManageBooking function, so I'm going to guess it's the "CheckBooking" procedure

In [6]:
cursor.callproc("CheckBooking", args=("2022-12-29", 4))
results = cursor.stored_results()

for x in results:
    print(x.fetchall())

[('Table 4 is available',)]

or the "AddBooking" procedure

In [7]:
cursor.callproc("AddBooking", args=(10, 3, 4, "2022-12-29"))
results = cursor.stored_results()

for x in results:
    print(x.fetchall())

[('Booked Table 4 for Customer 3 on 2022-12-29',)]

In [8]:
query = """SELECT * FROM Bookings WHERE ID = 10"""
cursor.execute(query)
results = cursor.fetchall()

print(cursor.column_names)
for x in results:
    print(x)

('ID', 'Date', 'TableNumber', 'CustomerID')
(10, datetime.date(2022, 12, 29), 4, 3)

#### Update Booking

In [9]:
cursor.callproc("Updatebooking", args=(10, "2022-12-30"))
results = cursor.stored_results()

for x in results:
    print(x.fetchall())

[('Booking 10 updated',)]

In [10]:
query = """SELECT * FROM Bookings WHERE ID = 10"""
cursor.execute(query)
results = cursor.fetchall()

print(cursor.column_names)
for x in results:
    print(x)

('ID', 'Date', 'TableNumber', 'CustomerID')
(10, datetime.date(2022, 12, 30), 4, 3)

#### Cancel Booking

In [11]:
cursor.callproc("CancelBooking", args=(10,))
results = cursor.stored_results()

for x in results:
    print(x.fetchall())

[('Booking 10 canceled',)]

In [12]:
query = "SELECT * FROM Bookings;"
cursor.execute(query)
results = cursor.fetchall()

for x in results:
    print(x)

(1, datetime.date(2022, 10, 10), 5, 1)
(2, datetime.date(2022, 11, 12), 3, 3)
(3, datetime.date(2022, 10, 11), 2, 2)
(4, datetime.date(2022, 10, 13), 2, 1)
(5, datetime.date(2022, 11, 12), 1, 1)
(6, datetime.date(2022, 11, 12), 2, 2)

## Close Connection

In [13]:
cursor.close()
connection.close()